/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1024px;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}


nav li{
    display:inline-block;
    padding-right: 15px;
    text-transform: uppercase;   
}

nav li>a{
    text-decoration: none;
    color: gray;
}

nav{
    padding-top: 35px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.main-container{
    margin-top: 40px;
}

.float-left{
    float: left;
}

.heading{
    margin-bottom: 13px;
}

/* tutte le colonne  */
.col{
    width: 20%;
    margin: 15px 0;
}

/* colonna */
.col:nth-child(2){
    width: calc(60% - 30px);
    margin: 15px;
}


.radius-10{
    border-radius: 10px;
}

.heading>h1{
    font-size: 2.4em;
}

.grey-color{
    color:gray;
}

.img-col{
    height: 160px;
    background-size: cover;
    background-position: center;
}

#jumbotron-section{
    background-image: 
        /* linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),  */
        url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

#jumbotron{
    color: white;
    background-color: rgba(0,0,0,.24);
    height: 100%;
    width: 100%;
}


#footer-container{
    height: 70px;
    margin-top: 20px;
}


#leadership{
    margin-bottom: 20px;
}


#logo{
    margin-top: 10px;
}

#logo img{
    height: 70px;
}

#caption-container{
    width: 66%;
    padding: 275px 0 50px 40px;

}

#caption-container h2{
    font-size: 2.15em;
    font-weight: 400;
}

#img-money-tree{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
        url(../img/img-1.jpg);
}

#img-coffee-worker{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),    
        url(../img/banner-2.jpg);
    background-repeat: no-repeat;
}

#img-giant-bulb{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
        url(../img/img-3.jpg);
}

/* Selezione multipla di tutti i contenuti delle colonne */
div.col.float-left p{
    font-size: .78em;
}

#footer-container>p{
    font-size: .8em;
    text-align: center;
}

#footer-container span.color-red{
    font-size: 1.5em;
    text-align: center;
}

.color-red{
    color:red
}


